<?xml version="1.0"?>
<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find fluna_gazebo)/launch/basic_world.launch">
    <arg name="world_name" value="$(find fluna_gazebo)/worlds/basic.world" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Load the URDFs into the ROS Parameter Server -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder $(find rorover_skid_steer)/urdf/rover_fixed_skid.urdf" />
  <param name="empty_sled_description"
    command="$(find xacro)/xacro --inorder $(find fluna_gazebo)/urdf/sled_empty.urdf" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner_robot" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model RoRover -param robot_description -x 8 -y 8 -z 1"/>
  <node name="urdf_spawner_sled1" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model Sled_Empty1 -param empty_sled_description -x 8 -y 9 -z 0"/>
  <node name="urdf_spawner_sled2" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model Sled_Empty2 -param empty_sled_description -x 9 -y 9 -z 0"/>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find rorover_skid_steer)/config/rover_skid_steer.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="joint1_position_controller diff_drive_controller joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <!--remap from="/joint_states" to="/rorover/joint_states" /-->
  </node>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" output="screen" required="true" args="-d $(find rorover_skid_steer)/rviz/default.rviz" />

  <include file="$(find rorover_skid_steer)/launch/joy.launch" />

</launch>
